---
layout: none
---
<!DOCTYPE html>
<html lang="en">
<head>

<!-- meta tags -->
<meta charset="utf-8">
<meta name="keywords" content="automation, laboratory, physics, university, spin-off" />
<meta name="description" content="Charles Automata - a lab tailored for your needs" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Title -->
<title>Charles Automata - a lab tailored for your needs</title>

<!-- Favicon Icon -->
<link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/images/icons/favicon.svg" />
<link rel="shortcut icon" href="/images/icons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Charles Automata" />
<link rel="manifest" href="/images/icons/site.webmanifest" />

<!-- inject css start -->

<!--== bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!--== font -->
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!--== magnific-popup -->
<link href="css/magnific-popup.css" rel="stylesheet" type="text/css" />

<!--== line-awesome -->
<link href="css/line-awesome.min.css" rel="stylesheet" type="text/css" />

<!--== owl -->
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />

<!--== odometer -->
<link href="css/odometer.css" rel="stylesheet" type="text/css" />

<!--== base -->
<link href="css/spacing.css" rel="stylesheet" type="text/css" />

<!--== base -->
<link href="css/base.css" rel="stylesheet" type="text/css" />

<!--== shortcodes -->
<link href="css/shortcodes.css" rel="stylesheet" type="text/css" />

<!--== theme-style -->
<link href="css/theme-style.css" rel="stylesheet" type="text/css" />

<!-- inject css end -->

</head>

<body>

<!-- page wrapper start -->

<div class="page-wrapper">
  
<!-- preloader start -->

<div id="ht-preloader">
  <div class="loader clear-loader">
    <span class="loader-div"> </span>
  </div>
</div>

<!-- preloader end -->


<!--header start-->
<header id="site-header" class="header" name="top">
  <div class="header-top">
      <div class="container">
      <div class="row">
        <div class="col d-flex align-items-center justify-content-end">
          <div class="topbar-link">            
            <ul class="list-inline">
              <li><i class="flaticon-message"></i>
                <a href="mailto:info@charlesautomata.cz">info@charlesautomata.cz</a>
              </li>
            </ul>
          </div>
          <!--div class="social-icons">
              <ul class="list-inline">
                <li><a href="#"><i class="lab la-facebook-f"></i></a>
                </li>
                <li><a href="#"><i class="lab la-twitter"></i></a>
                </li>
                <li><a href="#"><i class="lab la-instagram"></i></a>
                </li>
                <li><a href="#"><i class="lab la-dribbble"></i></a>
                </li>
                <li><a href="#"><i class="lab la-linkedin-in"></i></a> 
                </li>
              </ul>
            </div-->
        </div>
      </div>
      </div>
  </div>
  <div id="header-wrap">
    <div class="container">
      <div class="row">
        <!--menu start-->
        <div class="col">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand logo" href="/">
              <img class="img-fluid" src="images/logo.svg" alt="">
            </a>
            <button class="navbar-toggler ht-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <svg width="100" height="100" viewBox="0 0 100 100">
        <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"></path>
        <path class="line line2" d="M 20,50 H 80"></path>
        <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"></path>
      </svg>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/#products">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/contact">Contact</a>
                </li>
                
              </ul>
            </div>
            <div class="right-nav align-items-center d-flex justify-content-end">
              <a class="primary-btn" href="/contact"><span>Get A Quote</span>
            </a>
            </div>
          </nav>
        </div>
        <!--menu end-->
      </div>
    </div>
  </div>
</header>

<div class="search-input" id="search-input-box">
    <div class="search-inner-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form role="search" id="search-form" class="search-form d-flex justify-content-between search-inner">
                        <label>
                            <input type="search" class="search-field" placeholder="Search Here" value="" name="s" />
                        </label>
                        <button type="submit" class="search-submit">
                            <i class="las la-search"></i>
                        </button>
                        <span class="las la-times close-search" id="close-search" title="Close Search"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--header end-->

  {{ content }}

<!--footer start-->

<footer class="dark-bg footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <h5 class="mb-4">Our Products</h5>
        <ul class="list-unstyled mb-0 footer-menu">
          <li class="mb-3">
            <a href="/caas">Coalignment as a Service</a>
          </li>
          <li class="mb-3">
            <a href="/alsa">Automatic Laue Sample Aligner</a>
          </li>
          <li class="mb-3">
            <a href="/gonio">Clever Goniometer</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <h5 class="mb-4">Useful Link</h5>
        <ul class="list-unstyled mb-0 footer-menu">
          <li class="mb-3">
            <a href="/#about">About us</a>
          </li>
          <li class="mb-3">
            <a href="/#team">Our Team</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 mt-5 mt-lg-0">
        <h5 class="mb-4">Get In Touch</h5>
        <div class="footer-cntct">
          <ul class="media-icon list-unstyled">
            <li>
              <i class="flaticon-paper-plane"></i>
              <p class="mb-0">Ke Karlovu 5, 121 16 Prague, Czechia</p>
            </li>
            <li>
              <i class="flaticon-message"></i>
              <a href="mailto:info@charlesautomata.cz">info@charlesautomata.cz</a>
            </li>
          </ul>
        </div>
      </div>
      <!--div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <h5 class="mb-4">Newsletter</h5>
        <div class="subscribe-form">
          <form id="mc-form">
            <input type="email" value="" name="EMAIL" class="email form-control" id="mc-email" placeholder="Enter your email address" required="">
            <div class="primary-btn mt-3">
              <input class="subscribe-btn" type="submit" name="subscribe" value="Subscribe Now">
            </div>
          </form>
        </div>
      </div-->
    </div>
  </div>
  <div class="secondary-footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-4">
          
        </div>
        <div class="col-lg-4 col-md-8 mt-3 mt-md-0">
          <!--ul class="list-inline p-0 m-0 social-icons footer-social">
            <li class="list-inline-item">
              <a href="#">
                <i class="la la-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="la la-dribbble"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="la la-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="la la-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="la la-linkedin"></i>
              </a>
            </li>
          </ul-->
        </div>
        <div class="col-lg-6 col-md-12 text-lg-end mt-3 mt-lg-0"> Copyright 2025 Charles Automata </div>
      </div>
    </div>
  </div>
</footer>

<!--footer end-->

</div>

<!-- page wrapper end -->

 
<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="las la-arrow-up"></i></a></div>

<!--back-to-top end-->

<!-- inject js start -->

<!--== jquery -->
<script src="js/jquery.min.js"></script>

<!--== bootstrap -->
<script src="js/bootstrap.bundle.min.js"></script>

<!--== jquery-appear -->
<script src="js/jquery-appear.js"></script>

<!--== owl -->
<script src="js/owl.carousel.min.js"></script> 

<!--== magnific-popup --> 
<script src="js/jquery.magnific-popup.min.js"></script>

<!--== counter -->
<script src="js/odometer.min.js"></script>

<!--== countdown -->
<script src="js/jquery.countdown.min.js"></script>

<!--== theme-script -->
<script src="js/theme-script.js"></script>

<!-- inject js end -->

</body>

</html>
